semEvalTask6/src/main/resources/wordEmbeddings/glove.twitter.27B/glove.twitter.27B.100d.txt
semEvalTask6/src/main/resources/wordEmbeddings/glove.twitter.27B/glove.twitter.27B.200d.txt
semEvalTask6/src/main/resources/wordEmbeddings/glove.twitter.27B/glove.twitter.27B.25d.txt
semEvalTask6/src/main/resources/wordEmbeddings/glove.twitter.27B/glove.twitter.27B.50d.txt
